@import "/src/assets/style/_variables"
    
.navbar
    position: absolute
    width: 100%
    background-color: $DARK_1

.navbar-brand
    color: $GREEN

.navbar-nav
    margin-left: auto

.navbar-nav .active
    color: $DARK_GREEN
    transition: all 120ms linear

.navbar-nav a:hover
    cursor: pointer

.navbar-nav a:hover
    color: $GREEN