@import "/src/assets/style/_variables"

.home-app-main-container
  display: flex
  justify-content: center
  align-items: center
  background-image: url('../../../assets/images/shapes_bg_1.svg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.home-app-main-container .app-card
  display: flex
  flex-direction: column
  width: 90%
  max-width: 950px
  height: 80%
  max-height: 550px
  border-radius: 20px
  padding: $SPACE_4
  background-color: $DARK_1
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1)

.app-card > div
  flex: 50%

.form-container

.credentials-container
  overflow-y: auto

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
  .home-app-main-container .app-card
    flex-direction: row

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px)
