<div class="credential-card-main-container d-flex justify-content-center align-items-center"
    [class.active] = "active">
    <div class="icon-container d-flex justify-content-center align-items-center">
        <img [src]="icon" *ngIf="icon">
        <i class="bi bi-globe" *ngIf="!icon"></i>
    </div>
    <div class="data-container">
        <div class="entity">
            <span>Entity: </span>{{ credential.entity ? credential.entity.name : '' }}
        </div>
        <div class="username">
            <span>{{ credential.userName | username }}</span>{{ credential.userName }}
        </div>
        <div class="password-check-container"></div>
    </div>
</div>