@import "/src/assets/style/_variables"

*
  box-sizing: border-box


html, body
  margin: 0
  height: 100%


body
  font-family: Arial, sans-serif
  background-color: $DARK

.container
  width: 100%
  height: 100%
