@import "/src/assets/style/_variables"

*
  box-sizing: border-box
  transition: all 120ms linear

html, body
  margin: 0
  height: 100%

body
  font-family: Arial, sans-serif
  background-color: $DARK !important

.container
  width: 100%
  max-width: 100% !important
  height: 100%

.button
  color: $LIGHT
  padding: $SPACE_2
  border: 0
  border-radius: 0
  cursor: pointer
  background-color: $DARK_GREEN

.button:hover
  background-color: $GREEN

.modal-content
  color: $LIGHT !important
  background-color: $DARK !important

  #addCredentialModalLabel
    color: $GREEN

  #deleteCredentialModalLabel
    color: $RED

.form-container
  display: flex
  justify-content: center
  align-items: center
  height: 40%
  max-height: 210px

.form-group
  display: flex
  flex-direction: column
  align-items: start
  gap: $SPACE_1
  margin-bottom: $SPACE_3

.form label
  color: $LIGHT
  text-align: left

.form input
  width: 100%
  padding: $SPACE_1
  color: $LIGHT
  background: $DARK
  border: 1px solid $GREEN

.form .submit-button
  color: $LIGHT
  padding: $SPACE_2
  border: 0
  border-radius: 0
  cursor: pointer
  background-color: $DARK_GREEN

.form .submit-button:hover
  background-color: $GREEN

.form .text-error
  color: $RED
  font-size: 13px