@font-face
    font-family: "Silkscreen"
    src: url("../fonts/Silkscreen-Regular.ttf") format("truetype")


$DARK: #212121
$DARK_1: #2A2A2A
$LIGHT: #F3EFF5
$GREEN: #72B01D
$DARK_GREEN: #3F7D20
$RED: #E63946

$SPACE_1: 5px
$SPACE_2: 10px
$SPACE_3: 15px
$SPACE_4: 20px
