<div class="credential-form-main-container">
  <div class="form-view-container" *ngIf="mode == 0">
    <div class="entity field-container">
      <span>Entity: </span>{{ credential.entity ? credential.entity.name : "" }}
    </div>
    <div class="username field-container">
      <span>{{ credential.userName | username }}</span>
      {{ credential.userName }}
    </div>
    <div class="password field-container">
      <span>Password: </span>
      {{ credential.password | password: passwordVisible }}
      <span class="password-visibility" (click)="passwordVisibility()">
        <i class="bi bi-eye-fill" *ngIf="!passwordVisible"></i>
        <i class="bi bi-eye-slash-fill" *ngIf="passwordVisible"></i>
      </span>
    </div>
    <div class="password-strength field-container">
      <span>Password strength: </span>
      {{ credential.password | passwordStrength }}
    </div>
  </div>
  <div class="form-container form" *ngIf="mode == 1 || mode == 2">
    <form
      id="saveCredentialForm"
      name="credentialForm"
      class="credential-form form"
      (ngSubmit)="onSubmit(form)"
      #form="ngForm"
      novalidate
    >
      <div class="entity-group form-group" *ngIf="mode != 2">
        <label for="userName">Entity</label>

        <select
          class="form-control"
          name="entity"
          [(ngModel)]="credential.entity"
          #entity="ngModel"
          required
        >
          <option *ngFor="let entity of entities" [ngValue]="entity">
            {{ entity.name }}
          </option>
        </select>
        <!-- error -->
        <div class="text-error" *ngIf="entity.errors && form.submitted">
          Entity required
        </div>
      </div>
      <div class="entity-group form-group" *ngIf="mode == 2">
        <label for="userName">Entity</label>
        <input type="text" [value]="credential.entity?.name" disabled />
      </div>
      <div class="username-group form-group">
        <label for="userName">Username</label>
        <input
          type="text"
          name="userName"
          [(ngModel)]="credential.userName"
          #userName="ngModel"
          required
        />
        <!-- error -->
        <div class="text-error" *ngIf="userName.errors && form.submitted">
          Username required
        </div>
      </div>
      <div class="password-group form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="credential.password"
          #password="ngModel"
          required
        />
        <!-- error -->
        <div class="text-error" *ngIf="password.errors && form.submitted">
          Password required
        </div>
      </div>
    </form>
  </div>
</div>
