<div class="credential-form-main-container">
    <div class="form-view-container" *ngIf="mode == 0">
        <div class="entity field-container">
            <span>Entity: </span>{{ credential.entity }}
        </div>
        <div class="username field-container">
            <span>{{ credential.userName | username }}</span> {{ credential.userName }}
        </div>
        <div class="password field-container">
            <span>Password: </span>
            {{ credential.password | password: passwordVisible }}
            <span class="password-visibility" (click)="passwordVisibility()">
                <i class="bi bi-eye-fill" *ngIf="!passwordVisible"></i>
                <i class="bi bi-eye-slash-fill" *ngIf="passwordVisible"></i>
            </span>
        </div>
        <div class="password-strength field-container">
            <span>Password strength: </span>{{ credential.password | passwordStrength }}
        </div>
    </div>
</div>